/*  flexbox, media queries, and CSS variables */
* {
    box-sizing: border-box;
    padding: 0;
    margin: auto;
    text-align: center;
    width: 80%;
    display: inline-block;
    justify-content: center;
}

html {
    width: 100%;
}

var white = {color: #ffffff};

header a {
    color: white;
}

.container {
    display: flex;
    justify-content: center;
    color: white;
    display: inline-block;
    flex-wrap: nowrap;
    margin: 0 auto;
    height: auto;
}

body {
    background-color: #d9dcd6;
    text-align: center;
    flex-wrap: initial;
}

.work-image {
    box-sizing: border-box;
    display: flexbox;
    padding: 80px;
    margin: 10px; 
}

.first-work-image {
    display: flexbox;
    box-sizing: border-box;
    padding: 1px;
    margin: 10px; 
    width: 100%;
    height: auto;
    
}

body header nav {
    color: white;
    flex-direction: row;
    flex-wrap: nowrap;
}

.about-me {
    height: auto;
}

.about-me h2 {
    margin-top: 25px;
    margin-bottom: 25px;
}

.about-me p {
    margin-top: 10px;
}

.my-work h1 {
    margin-top: 5px;
    margin-bottom: 10px;
}

.my-work p {
    margin-top: 1px;
}

.my-work {
    margin-top: 10px;
    margin-bottom: 20px;
    padding: 50px;
    height: auto;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #205804;
    color: white;
    border-color: white;
}

.my-work div {
    border: solid white;
    display: flexbox;
    margin-top: 50px;
    margin-bottom: 10px;
    border: white;
} 

.intro h2 {
    margin-top: 10px;
    margin-bottom: 10px;
}

.intro {
    margin: 0 auto;
    margin-bottom: 20px;
    padding: 50px;
    height: 200px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #205804;
    color: white;
}

.contact-me {
    margin: 0 auto;
    margin-bottom: 20px;
    padding: 50px;
    height: 150px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2f700e;
    color: white;
    display: inline-flex ;
}

.contact-me a {
    color: white;
}

section {
    border: white;
    margin-bottom: 20px;
    padding: 50px;
    height: 750px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2f700e;
    color: white;
}

header {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2f700e;
    color: white;
}

header h1 {
    display: inline-block;
    font-size: 48px;
}

body section img {
    height="150px" 
    width="400px"
}

.footer {
}

@media (min-width: 40em) {
    .split {
        display: flex;
        gap: 2em;
    }
}